.connectionDescriptionCompContainer {
    display: flex;
    flex-direction: column;
    background-color: violet;
    height: 10rem;
    position: relative;
}

.editButtonRowContainer {
    display: flex;
    height: 3rem;
    background-color: yellow;
    width: 95%;
    margin-left: 1.1rem;
}

.smallDottedButtonStyle {
    display: flex;
    height: 0.2rem;
    width: 0.2rem;
    border-radius: 0.1rem;
    background-color: #838383;
    margin-right: 0.1rem;
}

.openToButtonStyle {
    display: flex;
    border-style: none;
    outline-style: none;
    width: 95%;
    height: 70%;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: #0a66c0;
}

.addSectionButtonStyle {
    display: flex;
    width: 95%;
    border-style: none;
    outline-style: none;
    height: 70%;
    border-radius: 2rem;
    align-items: center;
    border: 1px solid #838383;
    color: #838383;
    background-color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.9rem;
    justify-content: center;
}

.findClientsInnerBubbleContainer {
    display: flex;
    width: 91%;
    margin-left: 1.1rem;
    margin-top: 0.5rem;
    height: 4rem;
    font-size: 0.9rem;
    background-color: lightgreen;
    flex-direction: column;
    padding: 0.5rem;
    position: relative;
}

.xButtonGraphicStyle {
    display: flex;
    position: absolute;
    height: 2rem;
    right: 0.2rem;
    top: 0.2rem;
}